@media (max-width: 56em) {
  .nav {
    display: none;
  }

  main {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .kalma-container {
    margin-top: 1.6rem;
  }

  .result-show-container,
  .result-check-container {
    max-width: 50rem;
    margin-bottom: 2.4rem;
    justify-self: center;
    margin: auto 2.4rem;
  }

  iframe {
    display: none;
  }

  .logo-container {
    width: 36rem;
  }
}
